{% extends 'base.html.twig' %}

{% block title %}Ma page!{% endblock %}

{% block body %}
    <header class="bg-white">
    <div class="container d-flex justify-content-between align-items-center py-3">
        <div class="logo">
            <img src="https://via.placeholder.com/50" alt="Logo" width="50">
        </div>
        <nav class="menu">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Films</a>
                </li>
            </ul>
        </nav>
        <div class="d-flex align-items-center">
            <div class="input-group search-bar rounded-pill bg-light">
                <input type="text" class="form-control border-0 bg-transparent" placeholder="Recherche">
                <button class="btn btn-primary" type="button" style="margin-right: 15px;">Rechercher</button>
            </div>
            <div class="form-check form-switch mt-2">
                <input class="form-check-input visually-hidden" type="checkbox" id="darkModeSwitch" name="mode" value="dark">
                <label class="form-check-label" for="darkModeSwitch">Mode sombre</label>
            </div>
        </div>
    </div>
</header>

    <div class="container py-5">
        <div class="row">
        <div class="col-md-4">
            <img src="https://via.placeholder.com/400x600" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h1>Titre</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin augue id feugiat condimentum. Donec tincidunt rutrum varius. Nulla facilisi. In vestibulum hendrerit vestibulum. Suspendisse non ligula consectetur, lobortis metus vitae, posuere sapien. Quisque vestibulum, dolor eu vulputate lacinia, purus ipsum cursus libero, eu consequat est purus at elit.</p>
            <ul>
            <li>Commentaire 1</li>
            <li>Commentaire 2</li>
            <li>Commentaire 3</li>
            </ul>
            <form>
            <div class="form-group">
                <label for="comment">Ajouter un commentaire :</label>
                <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
        </div>
    </div>

    <footer class="bg-dark text-light py-3">
        <div class="container d-flex justify-content-between">
        <div>&copy; 2023 Mon site. Tous droits réservés.</div>
        <div>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        </div>
  </footer>
{% endblock %}
